html,
body {
  display: grid
}

html {
  height: 100%
}

body {
  background: #222
}

.loading-text {
  place-self: center;
  background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font: 900 clamp(2em, 10vw, 10em) exo, sans-serif;
  animation: shimmer 2s linear infinite
}

@keyframes shimmer {
  to {
    background-position: 100%
  }
}